@charset "utf-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre, fieldset, form, legend, button, input, textarea,th, td{ margin: 0;padding: 0; }
body,button, input, select, textarea { font:12px/20px "\5b8b\4f53",Tahoma, Helvetica, Arial,  sans-serif; }
h1,h2,h3,h4, h5, h6 { font-size: 100%; font-weight:normal;}
address, cite, dfn, em, var,i { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
small { font-size: 12px; }
ul, ol { list-style: none; }
a{ color:#0B3B8D; text-decoration:none;outline:0;blr:expression(this.onFocus=this.blur());}
a:hover{ color:#c00; text-decoration:underline;}
legend { color: #000; }
fieldset, img { border: none;}
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse;border-spacing:0; }
html,body{ overflow:hidden;height:100%;color:#000;}
.c{*zoom:1;}
.c:after{ content:""; display:block; height:0; clear:both;}
.l{ float:left;}.r{ float:right;}

/*模拟body层*/
#iBody{margin-bottom:36px;position:relative;}
.wrap{width:960px;margin:0 auto;position:relative;}
/*导航*/
.nav{ margin:0 auto; height:30px; padding:10px 9px; text-align:right; line-height:30px;}
.nav h1{ float:left;}
.nav a{color:#000;}
.nav a:hover{color:#c00;}
/*main style*/
.main{float:left;width:640px;}
.mainHead{text-align:center; background:url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -240px; border:1px solid #006eb3; border-bottom:0; height:58px; overflow:hidden; padding:0 1px;}
h1{font-size:24px;font-family:"微软雅黑";color:#fff; line-height:58px;background:url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -399px;}
.mainBody{border:1px solid #d3dce5;}
.mainCon{}
.curPosition{ height:30px; line-height:30px;}
.pos{float:left; padding-left:9px;}
.pos a{color:#0b3b8d;}
.pos em{color:#afafaf;}

/* 20110113 start */
.viewList{height:30px;line-height:30px;background:#f7f7f7; overflow:hidden;}
.viewList dl{ overflow:hidden; float:left;}
.viewList dt{float:left;padding-left:9px;}
.viewList dt b{padding:0 5px;font-weight:bold;font-family:"Tahoma"}
.viewList dd{float:left;padding:4px 0 0 9px;height:26px; line-height:23px;}
.tool-view .viewList a, .viewList dd a{color:#0b3b8d; display:inline-block; line-height:17px; border:1px solid #dfdfdf; padding:2px 14px 0 14px; text-decoration:none; background:#fff;}
.tool-view .viewList a:hover , .tool-view .viewList a.cur , .viewList dd a:hover, .viewList a.cur{background:#8ca2c7 url(http://mat1.gtimg.com/news/newlist/scroll.png) no-repeat 1px -119px; color:#feffff;}
.tips{color:#ffa200;margin-left:16px; display:none;}
.Refresh{float:right;padding-right:10px; height:29px;padding-top:1px;}
.Refresh span{color:#c00;}
.RefreshBtn{padding:5px 14px 3px;border:1px solid #e1e1e1;border-radius:1px;background:#f7f7f7;height:20px;color:#000; -moz-border-radius:3px;-webkit-border-radius: 3px;border-radius:3px; overflow:hidden;}
/* 20110113 end */
.list{padding:35px 64px 0 0;font-size:14px;line-height:25px; overflow:hidden;}
.list ul{margin-bottom:18px; margin-top:28px;}
.t-tit{float:left;padding:0 22px 0 47px;}
.t-time{font-size:12px;color:#999;float:right;width:70px;}

.listT{margin-bottom:20px;}
.listT dl{}
.listT dt{}
.listT dd{margin-left:113px;font-size:12px;float:left;display:inline; line-height:20px;}
.listT dd img{margin-right:13px;font-size:12px;float:left;}

/*返回顶部*/
#goTop{background:url(http://mat1.gtimg.com/news/newlist/goTop.png) no-repeat;width:35px;height:35px;cursor:pointer;line-height:99em;overflow:hidden;position:fixed;_position:absolute;bottom:1px;display:none;margin-left:471px;}
/*sidebar style*/
.sidebar{width:310px;float:right;overflow:hidden; }
.sidebar .mod{margin-top:-1px; margin-bottom:8px;background:#f3f7ff;border:1px solid #d3dce5;}
.sidebar .hd{height:28px;padding-left:10px;font-size:14px;color:#0b3c8b;line-height:28px; border-bottom:1px solid #d3dbe6;}
.sidebar .bd{}

/*分页*/
.page{ clear:both; height:22px;padding:15px 0 17px;text-align:center;font-family:Arial, Helvetica, sans-serif; font-size:14px}
.page a,.page strong,.page span{ display:inline-block;padding:0 8px; overflow:hidden; margin-right:3px; margin-left:2px; background:#fff}
.page a,.page span{ height:20px; line-height:22px; border:1px solid #CCDBE4}
.page a.f12,.page strong.f12,.page span{ font-size:12px}
.page a:hover{ text-decoration:none}
.page strong{ height:22px; line-height:24px}
.page .ellipsis{border:0;padding:0;height:21px;line-height:21px}
.page .na{color:#DBE1E6}

/* 返回顶部链接 */
.goTop-link{ padding-right:65px; text-align:right; padding-bottom:20px; font-size:14px;}

/*日历控件*/
.CalendarWrapper{width:260px;margin:0 auto;padding-bottom:19px;font-family:Tahoma,Arial;color:#3C3C3C;font-size:12px;}
.CalendarWrapper a{color:#3C3C3C;text-decoration:none}
.CalendarWrapper a:hover{color:#c00;text-decoration:none}
.CalendarWrapper .CalendarHead{width:260px;height:19px;overflow:hidden;margin:0 auto;padding:7px 0;line-height:21px;border-bottom:1px solid #CDCFD3; }
.CalendarWrapper .CalendarHead h3{font-size:14px;text-align:center;font-weight:bold}
.CalendarWrapper .CalendarHead .btn{display:block;width:19px;height:17px;padding-top:2px;overflow:hidden;line-height:17px;font-family:"宋体";font-size:12px;text-align:center;background:url(http://mat1.gtimg.com/news/2009/calendar_btn_v1.gif) no-repeat;}
.CalendarWrapper .CalendarCon table{border-collapse:collapse;}
.CalendarWrapper .CalendarCon div table{border-collapse:collapse;background-color:#f7f7f7;}
.CalendarWrapper .CalendarCon th{width:36px;text-align:center;line-height:30px;font-weight:normal; font-size:14px;}
.CalendarWrapper .CalendarCon td{width:36px;text-align:center;font-weight:normal;border:1px solid #cdcfd3;overflow:hidden;}
.CalendarWrapper .CalendarCon th.saturday{color:#128abc}
.CalendarWrapper .CalendarCon th.sunday{color:#CC0000}
.CalendarWrapper .CalendarCon a,.CalendarWrapper .CalendarCon em,.CalendarWrapper .CalendarCon span{display:block;width:34px;height:29px;overflow:hidden;color:#3C3C3C;line-height:29px;background:#f7f7f7;border:1px solid #F7F7F7;}
.CalendarWrapper .CalendarCon span{ color:#C3C3C3}/* 今天日期后的标签 */
.CalendarWrapper .CalendarCon em{ background:#1189bd; font-style:normal;}/* 选中日期的标签 */
.CalendarWrapper .CalendarCon a.today,.CalendarWrapper .CalendarCon em.today{background:#8ca4c8;color:#FFF;}/* 今天日期在标签中加class=&quot;today&quot; */
.CalendarWrapper .CalendarCon a:hover{background:#8ca4c8;color:#FFF;text-decoration:none;border:1px solid #FFF;}

/*更多频道滚动*/
.sidebar .Links{ background:#016bae url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -220px; border:1px solid #006eb3; padding:0 1px;}
.Links .hd{ background:url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -399px; border-bottom:0; text-align:center; color:#fff; padding-top:5px; height:23px;}
.Links .bd{ padding:0 4px;background:#016bae url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -427px;}
.moreLink{font-size:12px;color:#d4d4d4;padding:10px 0; overflow:hidden}
.moreLink_con{ background:#fff;}
.moreLink a{font-size:14px;color:#0b3b8d;padding:0 20px; line-height:35px;display:inline-block;}
/*line*/
.line1,.line2,.line3,.line4{ height:1px; overflow:hidden; border-left:1px solid #5eb1e0;border-right:1px solid #5eb1e0; background:#fff; position:relative; font-size:1px; line-height:1px}
.line1{border-color:#5eb1e0; margin:0 2px;}
.line2{ margin:0 1px; border-color:#81c2e7;}
.line3{ border-color:#5eb1e0;}
.line4{ border-color:#acd7ef;}
/*新闻排行榜*/
.rank{padding:15px 0 30px 9px;}
.rank li{height:22px;}
.rank em{font-size:12px;display:inline-block;width:15px;height:12px;background:#8ba3c7;text-align:center;color:#fff;line-height:12px;margin-right:10px;}
.rank .hot{background:#c60a0b;}
.rank a{color:#0b3b8d;}

/*底部工具栏*/
#Toolbar{ height:35px; position:absolute; bottom:0;width:100%;}
.T-wrap{ width:960px; margin:0 auto;}
.T-body{ width:638px;background:#e9e9e9 url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -153px; border:1px solid #dedede; height:33px; position:relative;color:#535353;margin-left:-8px;margin-left:-9px\9;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
.T-body{margin-left:-9px};
}
.tool-select{position:absolute; left:0;z-index:2;}
.tool-select a{}
.tool-tit{ width:12px; padding:3px 9px 0; line-height:14px; float:left; font-weight:normal;}
.check-list{ padding:1px 0 0 0; float:left;width:352px; height:31px; overflow:hidden; position:relative; font-size:0;background:#e9e9e9 url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -153px;}
.check-list a{ font-size:12px;}
.check{ background:url(http://mat1.gtimg.com/news/newlist/scroll.png) no-repeat 0 8px;padding-left:19px; color:#000; margin-right:14px; cursor:pointer; display:inline-block; line-height:30px;}
.checked{background:url(http://mat1.gtimg.com/news/newlist/scroll.png) no-repeat 0 -15px;}

.check-btn{ background:#ececec url(http://mat1.gtimg.com/news/newlist/scroll.png) no-repeat 0 -47px; height:26px; float:left; margin-top:1px; cursor:pointer; width:28px; line-height:14px; padding-top:3px;}
.open{background-position:0 -81px;}
.tool-view{ position:absolute;z-index:1;right:0;width:210px;}
.tool-view .viewList {float:left; line-height:0; height:29px; padding-top:6px;background:#e9e9e9 url(http://mat1.gtimg.com/news/newlist/scroll.png) repeat-x 0 -153px;}

#autoHideToolBar{ margin-top:1px; float:left; margin-left:16px;margin-right:0}

/*页面底部*/
.footer{ width:960px; margin:0 auto; text-align:center;font-family:"Arial";line-height:24px;}
.tcopyright {width:960px;margin:0 auto;padding:8px 0;font-size:12px;line-height:28px;color:#333; text-align:center; overflow:hidden;clear:both;}
.tcopyright .en{font-family:Arial;}
.tcopyright a{color:#333;text-decoration: none;}
.tcopyright a:hover{color:#bd0a01;text-decoration: underline;}

.article-tips{text-align:center;color:red;margin-bottom:20px;}
.loading{text-align:center;color:green;margin-bottom:20px;}

